<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원 정보 수정</title>
    <link th:href="@{/css/editStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2>회원 정보 수정</h2>
    </div>
    <h4 class="mb-3">수정 정보 입력</h4>
    <form action="" th:action th:object="${form}" th:method="patch" enctype="multipart/form-data">
        <div>
            <label for="profileImg">프로필 이미지</label>
            <input type="file" id="profileImg" th:field="*{profileImg}">
        </div>
        <div>
            <label for="introduction">자기소개</label>
            <input type="text" id="introduction" th:field="*{introduction}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{introduction}" />
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="btn" type="submit">수정 완료</button>
            </div>
            <div class="col">
                <button class="btn"
                        th:onclick="|location.href='@{/members/{memberId}(memberId=${id})}'|"
                        type="button">
                    취소
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
