<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>비밀번호 수정</title>
    <link th:href="@{/css/editStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2>비밀번호 수정</h2>
    </div>
    <h4 class="mb-3">새 비밀번호 입력</h4>
    <form action="" th:action th:object="${form}" th:method="patch">
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div>
            <label for="password2">비밀번호 확인</label>
            <input type="password" id="password2" th:field="*{password2}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password2}" />
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="btn" type="submit">수정 완료</button>
            </div>
            <div class="col">
                <button class="btn"
                        th:onclick="|location.href='@{/members/{memberId}(memberId=${memberId})}'|"
                        type="button">
                    취소
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
