<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container">
    <div th:fragment="formFields">
        <div class="form-group">
            <label for="subCategoryId">세부 카테고리</label>
            <select th:field="*{subCategoryId}" id="subCategoryId" name="subCategoryId" class="form-control" required>
                <option value="" disabled selected>세부 카테고리 선택</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkSubcategoryConst).NOVEL}">소설</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkSubcategoryConst).POETRY}">시</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkSubcategoryConst).ESSAY}">수필</option>
            </select>
        </div>

        <div class="form-group">
            <label for="workImageFiles">파일 업로드</label>
            <input type="file" id="workImageFiles" th:field="*{workImageFiles}" class="form-control" multiple>
            <div class="field-error" th:if="${#fields.hasErrors('workImageFiles')}" th:errors="*{workImageFiles}"></div>
        </div>

        <div class="form-group">
            <label for="genreIds">장르</label>
            <select th:field="*{genreIds}" id="genreIds" name="genreIds" class="form-control" multiple size="5">
                <option th:value="${T(com.mymosaic.hall.constant.WorkGenreConst).ACTION}">액션</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkGenreConst).FANTASY}">판타지</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkGenreConst).SF}">SF</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkGenreConst).COMEDY}">코메디</option>
                <option th:value="${T(com.mymosaic.hall.constant.WorkGenreConst).HORROR}">공포</option>
            </select>
        </div>

        <div class="form-group">
            <label for="authors">작가</label>
            <input type="text" th:field="*{authors}" id="authors" name="authors" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="publisher">출판사</label>
            <input type="text" th:field="*{publisher}" id="publisher" name="publisher" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="year">연도</label>
            <input type="number" th:field="*{year}" id="year" name="year" class="form-control"/>
        </div>


    </div>
</div>

</body>
</html>
