<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="container">
    <div th:fragment="formFields">
        <p><strong>세부 카테고리:</strong> <span th:text="${T(com.mymosaic.hall.common.WorkConstantMapper).getSubCategoryName(work.subCategoryId)}">카테고리</span></p>
        <div class="image-gallery">
            <div th:each="file : ${work.loadedImages}" class="image-item">
                <img th:src="${file} == null ? _ : @{'data:image/png;base64,'+${file}}"
                     alt="Work Image" class="thumbnail"/>
                <div class="overlay">+</div>
            </div>
        </div>
        <p><strong>장르:</strong>
        <div th:each="genreId : ${work.genreIds}">
            <span th:text="${T(com.mymosaic.hall.common.WorkConstantMapper).getGenreName(genreId)}">카테고리</span>
        </div>
        </p>
        <p><strong>작가:</strong>
        <div th:each="author : ${work.authors}">
            <span th:text="${author}">작가</span>
        </div>
        </p>
        <p><strong>제작사:</strong> <span th:text="${work.publisher}">출판사</span></p>
        <p><strong>상영 년도:</strong> <span th:text="${work.year}">상영 년도</span></p>
    </div>
</div>