<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>작품 상세</title>
    <link th:href="@{/css/workInfoStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="detail-container">
    <h1 th:text="${work.name}">이름</h1>
    <p><strong>카테고리:</strong> <span th:text="${T(com.mymosaic.hall.common.WorkConstantMapper).getCategoryName(work.categoryId)}">카테고리</span></p>
    <p><strong>내용:</strong> <span th:text="${work.content}">내용</span></p>
    <p><strong>평점:</strong> <span th:text="${work.rating}">평점</span></p>

    <div th:switch="${work.categoryId}">
        <div th:case="${T(com.mymosaic.hall.constant.WorkCategoryConst).VIDEO}">
            <div th:replace="~{works/fragments/videoWorkInfoFragment :: formFields}"></div>
        </div>
        <div th:case="${T(com.mymosaic.hall.constant.WorkCategoryConst).TEXT}">
            <div th:replace="~{works/fragments/textWorkInfoFragment :: formFields}"></div>
        </div>
    </div>

    <div class="button-container">
        <button class="btn" type="button"
                th:if="${isOwner}"
                th:onclick="|location.href='@{/works/{memberId}/{workId}/edit(memberId=${memberId},workId=${workId},categoryId=${work.categoryId})}'|">
            수정
        </button>

        <!-- 목록 버튼 -->
        <button class="btn" type="button"
                th:onclick="|location.href='@{/works/{memberId}(memberId=${memberId})}'|">
            작품 목록
        </button>

        <!-- 삭제 버튼 -->
        <form th:action="@{/works/{memberId}/{workId}/delete(memberId=${memberId},workId=${workId})}"
              th:method="delete" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
            <button type="submit" class="delete" th:if="${isOwner}">삭제</button>
        </form>
    </div>
</div>

</body>
</html>
